- categories = current_article.data.category.to_s.split('/')
!!!
%html
  %head= partial 'partials/head'
  %body.posts-show.sharing-post
    = partial 'partials/navbar'
    .body
      .container.row
        .posts-header
          .page-heading
            .posts-title
              -# XXX: カテゴリを分割する
              %ul.categories
                - categories.each do |category|
                  %li= category
              %h1.title
                = current_article.title
                - current_article.tags.each do |tag|
                  = link_to tag_path(tag), class: 'hashtag' do
                    = '#'
                    = tag
            .published-time
              %i.fa.fa-share-square-o
              Updated at
              %span.num<>= current_article.data.updated_at
        #main.main-column{:role => "main"}
          .post-body.markdown= yield
        .right-column= partial 'partials/side_bar'
    = partial 'partials/footer'
