%li.post-list
  %ul.categories
    - categories = article.data.category.to_s.split('/')
    - categories.each.with_index do |category, i|
      %li= link_to category, category_path(categories[0..i].join('/'))
  %h2.title
    = link_to article, class: 'bare-name' do
      = article.title
    - article.tags.each do |tag|
      = link_to tag_path(tag), class: 'hashtag' do
        = '#'
        = tag
  .record
    %span.date= article.date.strftime('%Y - %m - %d')
