%aside.side-bar
  %section.section
    %h2.side-bar__heading
      %i.fa.fa-file-text-o
      Recent Articles
    .side-bar__content
      %ul.posts-list.side-bar__posts-list
        - blog.articles[0...10].each do |article|
          %li.post-list
            %ul.categories
              - categories = article.data.category.split('/')
              - categories.each do |category|
                %li= category
            %h4.title
              = link_to article, class: 'bare-name' do
                = article.title
            .date= article.date.strftime('%Y - %m - %d')
  %section.section
    %h2.side-bar__heading
      %i.fa.fa-tag
      Tags
    %ol.side-bar__list
      - blog.tags.each do |tag, articles|
        %li
          = link_to tag_path(tag) do
            = tag
            %span.count-num= articles.size
  %section.section
    -# XXX: by year は左側に出して month ごとの indexにしそうな気がする
    %h2.side-bar__heading
      %i.fa.fa-calendar
      Archive
    %ol.side-bar__list
      - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
        %li
          = link_to blog_year_path(year) do
            = year
            %span.count-num= articles.size
        -# FIXME: design
        %ol
          - articles.group_by { |a| a.date.month }.each do |month, articles|
            %li
              = link_to blog_month_path(year, month) do
                = '%02d' % month
                %span.count-num= articles.size
