---
pageable: true
per_page: 20
---
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page
%ul.posts-list
  - page_articles.each_with_index do |article, i|
    %li.post-list
      %ul.categories
        - categories = article.data.category.split('/')
        - categories.each do |category|
          %li= category
      %h2.title
        = link_to article, class: 'bare-name' do
          = article.title
      .record
        %span.date= article.date.strftime('%Y - %m - %d')
- if paginate && num_pages > 1
  %p
    Page #{page_number} of #{num_pages}
  - if prev_page
    %p= link_to 'Previous page', prev_page
- if paginate
  - if next_page
    %p= link_to 'Next page', next_page
