---
pageable: true
per_page: 20
---
- if paginate && num_pages > 1
  .pagenate.is-top
    Page
    %span.num= page_number
    of
    %span.num= num_pages
    - if prev_page
      %p.pagenate__prev.link-with-icon
        = link_to prev_page do
          %i.fa.fa-caret-left
          Previous
    - if paginate
      - if next_page
        %p.pagenate__next.link-with-icon
          = link_to next_page do
            %i.fa.fa-caret-right
            Next 
%ul.posts-list
  - page_articles.each_with_index do |article, i|
    %li.post-list
      %ul.categories
        - categories = article.data.category.split('/')
        - categories.each do |category|
          %li= category
      %h2.title
        = link_to article, class: 'bare-name' do
          = article.title
      .record
        %span.date= article.date.strftime('%Y - %m - %d')
- if paginate && num_pages > 1
  .pagenate
    Page
    %span.num= page_number
    of
    %span.num= num_pages
    - if prev_page
      %p.pagenate__prev.link-with-icon
        = link_to prev_page do
          %i.fa.fa-caret-left
          Previous
    - if paginate
      - if next_page
        %p.pagenate__next.link-with-icon
          = link_to next_page do
            %i.fa.fa-caret-right
            Next 
